spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://localhost:5432/campdb
    username: campuser
    password: camppass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
springdoc:
  swagger-ui:
    path: /docs
jwt:
  secret: "p3n8v6k2s1q4w7z0x5c9b8m2l6j3h1g7f4d2s8a0k9p5o3i7u6y4t2r8e1w6q3z5x7c9v1b3n5m7l9k1j3h5g7f9d1s3a5"
  expirationMs: 86400000